* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
    padding: 20px 70px 20px 32px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
.menu-button {
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line {
    display: block;
    height: 3px;
    width: 20px;
    background: #1F2022;
    border-radius: 20px;

}

.logo {
    margin-right: 59px;
}

.input-group {
    background-color: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.search-input {
    border: none;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;

}

.button-search {
    border: none;
    width: 19px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
}

.icon-search {
    fill: #000;
}

.icons {
    align-items: center;
    margin-left: auto;
}

.icons-link {
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover {
    opacity: 0.8;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}

.user {
    margin-left: 40px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar {
    padding-left: 32px;
}
.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style-type: none;
}

.nav-item {
    margin-bottom: 28px;

    
    
}

.nav-link {
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}
.nav-link:hover {
    color: #ff0000;
}
.nav-link:hover .icon {
    fill: #ff0000;
}

.nav-item .icon {
    fill: #898989;
}

.nav-text {
    margin-left: 13px;
}

.nav-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px
}

.nav-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}